name: Renovate

on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest 

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set Git User
      run: |
        git config --global user.email 'bot@renovateapp.com'
        git config --global user.name 'Renovate Bot'

    - name: Renovate Bot GitHub Action
      uses: renovatebot/github-action@v45.0.3
      with:
        token: ${{ secrets.RENOVATE_PAT }}
        configurationFile: renovate.json
